<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <style>
 img {
  max-width: 100%;
}

 </style>

 <meta name="google-site-verification" content="rguSbgWbasL8XzVouODlE4eFYm6Lo9Muk7O7rCAN0Mc" />
 </head>
<body>
 <h1>自己紹介</h1>
 <h2>磯谷 彰宏 </h2>
 <h2>Isotani Akihiro</h2>
<p>IT技術者です。会社での肩書はDevOps Engineerで、運用/テストの自動化や品質管理や障害対応などしています。社内用の品質保証ツール開発のためにRustやGoを書くこともあります。</p>
<p>I'm an IT Engineer. DevOps, SRE. </p>
<p>最近は資料管理のためのWebサービス運営を目指して開発しています。</p>
<p>金融、ゲーム理論、サイバーセキュリティ、安全保障に興味があります。</p>
<p>I’m interested in Finance, Game Theory, and Cyber Security</p>
<p>乗馬と読書が趣味です。ビジネスプランコンテストを見に行くことがあります。</p>
<p>一種外務員試験に合格しています。</p>
<a href="opinions/">意見・主張ログ</a>
<a href="opinions/2025/2025-12-infra-responsibility-cognitive-warfare.html">Cloudflare判決は何を武器化したのか――インフラ幇助責任・認知の自由・情報安全保障――</a>
<h3>略歴</h3>
 <p>洛南高等学校 2018年3月卒業</p>
<p>京都工芸繊維大学 情報工学課程 2023年3月卒業</p>


 <h3>Publication</h3>
  <p>システムからの通知に「人間味のある言葉」は必要か? 2023年06月30日
 <a href ="https://ascii.jp/elem/000/004/142/4142747/">ASCII × FIXER cloud.config Tech Blog</a> </p>
 <h3> 連絡先,SNSなど</h3>
 <p>Email isoiso0316aaa[a/t]gmail[dot]com</p>
 <a href ="https://www.linkedin.com/in/akihiro-isotani-436771209">LinkedIn</a>
 <a href ="https://www.facebook.com/akihiro.isotani">Facebook</a>
 <a href ="https://instagram.com/akinyate">Instagram</a>
 <a href ="https://github.com/akis0">GitHub</a> <br><br>
<img src="profile.jpg" alt="profile pic">
</body>

</html>
